
/* Your CSS Code here. */
.container{
 display:flex;
 margin:10px;
 flex-wrap: wrap;
}
.contain{
  width:35px;
  height:35px;
  border: 2px solid ;
  align-content: center;
  text-align: center;
  background-color: green;
   margin:2px;
}
.contain1{
  width:35px;
  height:35px;
  border: 2px solid ;
  align-content: center;
  text-align: center;
  background-color: blue;
   margin:2px;
}
.contain2{
  width:35px;
  height:35px;
  border: 2px solid ;
  align-content: center;
  text-align: center;
  background-color: red;
   margin:2px;
}